@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

li {
    list-style: none;
}

/* ======================= end of reset ======================== */
/* ============================================================= */
/* ================= page styling starts here ================== */

html {
    height: 100%;
    overflow: hidden;
}

body{
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    background: #eeebe5;
    position: relative;
    width: 100%;
    height: 100%;
}

.left-column {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
}

.right-column {
    height: 100%;
    margin-left: 270px;
}

label {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFC200;
    z-index: 1;
    transition: left 0.3s, transform 0.3s;
}

label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url(../assets/chevron-right.svg);
}

label:hover {
    cursor: pointer;
    box-shadow: 0 0 4px black;
}

input[type="checkbox"]{
    display: none;
}


input[type="checkbox"]:checked ~ label {
    transform: rotate(180deg);
    left: 250px;
}

input[type="checkbox"]:checked ~ .left-column {
    margin-left: 0px;
}

input[type="checkbox"]:checked ~ .right-column {
    filter: blur(0.1vw);
}

/* ---------- left column ----------- */
.left-column {
    background: #000000;
    color: #FFFFFF;
    transition: margin-left 0.3s, width 0.3s;
}

.header, .user-info, .task-stats, .menu {
    display: flex;
    flex-direction: row;
}

.header-logo, .user-picture, .completed-tasks {
    margin-left: 30px;
}

.header {
    align-items: center;
    height: 84px;
}

.header-logo {
    display: block;
    min-width: 21.6px;
    height: 18.9px;
    margin-right: 13px;
}

.header-logo::before {
    position: absolute;
    content: "";
    width: 21.6px;
    height: 18.9px;
    background-size: 21.6px 18.9px;
    background: url(../assets/Logo@3x.svg);
}

.company-name {
    display: block;
    width: 100%;
}

.company-name::before {
    content: "PROJECTUS";
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.search {
    display: block;
    min-width: 16px;
    height: 16px;
    margin-right: 20px;
}

.search::before{
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background: url(../assets/Search@3x.svg);
}

.user-info {
    display: flex;
    flex-direction: row;
    height: 80px;
    background: #202020;
    align-items: center;
}

.user-picture {
    display: block;
    height: 48px;
    width: 48px;
    margin-right: 15px;
}

.user-picture::before {
    position: absolute;
    content: "";
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: url(../assets/user-pic.png);
    background-size: 48px 48px;
}

.user-name-and-status {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100px;
    white-space: normal;
}

.user-name, .user-status {
    display: flex;
    position: relative;
    align-items: center;
}

.user-name {
    align-items: flex-end;
}

.user-name + .user-status {
    margin-top: 2px;
}

.user-name-and-status .user-name::before {
    content: "Jean Gonzales";
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.user-name-and-status .user-status::before {
    content: "Product Owner";
    font-size: 12px;
    line-height: 14px;
    color: #9B9B9B;
}

.user-menu-button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    margin-left: auto;
}

.user-menu-shapes {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A5A5A5;
    border-radius: 50%;
    box-shadow: 6px 0 0 0 #A5A5A5, -6px 0 0 0 #A5A5A5;
}

.task-stats {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 31px;
}

.completed-tasks, .open-tasks {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.open-tasks {
    margin-left: 19px;
}

.completed-tasks {
    cursor: pointer;
    transition: border 0.3s, background-color 0.3s, margin 0.3s, padding 0.3s;
}

.completed-tasks:hover {
    padding: 3px;
    margin-right: -6px;
    margin-bottom: -12px;
    border-bottom: #ffc200 4px solid;
    background-color: #202020;
}

#total-number, #open-number {
    height: 27px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    user-select: none;
}

.label {
    height: 17px;
}

.completed-tasks .label::before {
    content: "Completed Tasks";
}

.open-tasks .label::before {
    content: "Open Tasks";
}

.completed-tasks .label::before, .open-tasks .label::before {
    font-size: 12px;
    line-height: 14px;
    color: #878787;
}

.aside-menu {
    display: flex;
    flex-direction: column;
}

.aside-menu .menu::before {
    content: "MENU";
    font-size: 12px;
    line-height: 18px;
    color: #878787;
    margin-bottom: 10px;
    padding-left: 30px;
}

.aside-menu-home, .aside-menu-tasks, .aside-menu-notifications {
    height: 38px;
    width: 240px;
    padding-left: 30px;
}

.aside-menu-home, .aside-menu-tasks {
    display: block;
    position: relative;
}

.aside-menu-home span, .aside-menu-tasks span, .aside-menu-notifications span {
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.aside-menu-home span, .aside-menu-tasks span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.aside-menu-notifications {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.aside-menu-notifications span + #notification-counter {
    margin-left: 10px;
}

#notification-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 20px;
    min-width: 19px;
    border-radius: 50%;
    background: #FFC200;
    font-size: 13px;
    color: #131313;
}
/* -------- left column ends here --------------- */

/* ----------right column starts here -------------*/
.right-column {
    display: flex;
    flex-direction: column;
    transition: opacity 0.3s, margin-left 0.3s, filter 0.3s;
}

.top-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 136px;
    height: fit-content;
    background: #FFFFFF;
}

.upper-part {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 35px;
    justify-content: space-between;
}

.upper-left, .upper-right {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
}

.upper-left + .upper-right {
    margin-left: 12px;
}

.upper-right {
    justify-content: flex-end;
}

.logo {
    margin-top: 4.5px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #ffc200;
}

.logo::before{
    position: relative;
    display: block;
    content: "";
    width: inherit;
    height: inherit;
    background-image: url(../assets/Shapes@2x.png);
    background-size: 40px 40px;
}

.logo + .project-name {
    margin-left: 15px;
}

.project-name {
    position: relative;
    width: 265px;
    height: 43px;
}

.project-name span {
    position: absolute;
    line-height: 38px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #131313;
    white-space: nowrap;
}

.project-name + .menu {
    margin-left: 11px;
}

.top-menu .menu {
    position: relative;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: #EAEAEA;
}

.top-menu .menu::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #A5A5A5;
    border-radius: 50%;
    box-shadow: 6px 0 0 0 #A5A5A5, -6px 0 0 0 #A5A5A5;
}

.users {
    display: flex;
    flex-direction: row;
    margin-top: 9px;
}

.pic1, .pic2 {
    margin-right: 5px;
}

.pic1::before {
    background: url(../assets/face2.png);
}
.pic2::before {
    background: url(../assets/face3.png);
}
.pic3::before {
    background: url(../assets/face4.png);
}

.pic1::before, .pic2::before, .pic3::before {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: "";
    background-size: 30px 30px;
}

.users + .share, .share + .chat {
    margin-left: 15px;
}

.share, .chat {
    margin-top: 10px;
}

.share {
    position: relative;
    display: block;
    height: 30px;
    width: 67px;
    border-radius: 15px;
    background: #EAEAEA;
}

.share::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "Share";
    font-size: 14px;
    color: #131313;
}

.chat {
    position: relative;
    height: 30px;
    width: 81px;
    border-radius: 15px;
    background: #FFF8DD;
}

.chat div::before {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    background: url("../assets/Combined Shape@1x.svg");
}

.chat span::before {
    position: absolute;
    top: 50%;
    right: 14px;
    transform: translateY(-50%);
    content: "Chat";
    font-size: 14px;
    color: #FFC200;
}

.tabs {
    display: flex;
    flex-direction: row;
    height: min-content;
    background: #FFFFFF;
}

.tabs li {
    font-size: 16px;
    align-items: center;
    line-height: 19px;
    padding-bottom: 14px;
    color: #131313;
    opacity: 0.7;
}

#tasks {
    margin-left: 30px;
}

#kanban {
    margin-left: 32px;
}

#activity {
    margin-left: 27px;
    opacity: 1;
    border-bottom: 2px #FFC200 solid;
}

#calendar {
    margin-left: 31px;
}

#files {
    margin-left: 27px;
}

.tab-content {
    display: flex;
    height: 100%;
    width: available;
    background: #eeebe5;
    justify-content: center;
    position: relative;
}

.container {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 50.7vw;
    height: 67.4vh;
    border-radius: 8px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    box-sizing: border-box;
    padding: 35px 30px;
    overflow-y: auto;
}

.day {
    margin-bottom: 2px;
}

.day::before {
    content: "TODAY";
    opacity: 0.5;
    font-size: 14px;
    color: #131313;
}

.messages {
    display: flex;
    flex-direction: column-reverse;
    align-content: flex-start;
}

.message1, .message2, .message3 {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.message-icon {
    display: block;
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.message-content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-right: 5px;
}

.message-text {
    display: block;
    position: relative;
    width: 85%;
}

.message-time {
    display: block;
    position: relative;
    min-width: 55px;
    height: 20px;
}

.message1 .message-icon {
    background: #E3EFFF;
}

.message1 .message-icon::before {
    background: url(../assets/toolbarButton-download1.svg);
}
.message2 .message-icon::before {
    background: url(../assets/square-speech-bubble-svgrepo-com.svg);
}
.message3 .message-icon::before {
    background: url(../assets/Icon@3x.svg);
}

.message1 .message-icon::before, .message2 .message-icon::before, .message3 .message-icon::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 12px 12px;
}

.message1 .message-text::before {
    content: "Darika Samak uploaded 4 files on An option to search in current projects or in all projects";
}
.message2 .message-text::before {
    content: "Emilee Simchenko commented on Account for teams and personal in bottom style";
}
.message3 .message-text::before {
    content: "Darika Samak mark as done Listing on Product Hunt so that we can reach as many potential users";
}

.message1 .message-text::before, .message2 .message-text::before, .message3 .message-text::before {
    font-size: 16px;
    color: #131313;
    line-height: 20px;
}

.message1 .message-time::before {
    content: "6:02 PM";
}
.message2 .message-time::before {
    content: "7:32 PM";
}
.message3 .message-time::before {
    content: "8:40 PM";
}

.message1 .message-time::before, .message2 .message-time::before, .message3 .message-time::before {
    opacity: 0.7;
    font-size: 14px;
    color: #131313;
    text-align: right;
    line-height: 20px;
}

.message1 .message-attachment {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.message1 .message-attachment div {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.message1 .attachment1::before {
    background: url(../assets/attached-pic1.jpg);
}
.message1 .attachment2::before {
    background: url(../assets/attached-pic2.jpg);
}
.message1 .attachment3::before {
    background: url(../assets/attached-pic3.jpg);
}
.message1 .attachment4::before {
    background: url(../assets/attached-pic4.jpg);
}

.message1 .attachment1::before, .message1 .attachment2::before,.message1 .attachment3::before,.message1 .attachment4::before {
    display: block;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.message2 .message-icon {
    background: #FFF8DD;
}

.message2 .message-attachment {
    display: flex;
    width: 100%;
    flex-direction: row;
    background: #F7F6F3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-top: 20px;
}

.message2 .message-attachment::before {
    font-size: 15px;
    line-height: 18px;
    color: #131313;
    content: "During a project build, it is necessary to evaluate the product design and development against project requirements and outcomes";
}

.message3 .message-icon {
    background: #CEF9C6;
}
/* --------- right column ends here --------- */

/* =================== response behavior section starts here =============== */
@media screen and (min-width: 1500px) {
    .container {
        width: 60vw;
    }
}

/* --------------- */

@media screen and (max-width: 980px), (max-aspect-ratio: 17/16){
    label {
        display: block;
        left: 30px;
    }

    .left-column {
        margin-left: -270px;
    }

    .right-column {
        margin-left: 0;
        width: 100%;
    }

    .container {
        width: 80%;
        height: 90%;
    }
}

/* -------------------- */
@media screen and (max-width: 710px) {
    .upper-part {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
/* -------------- */

@media screen and (max-width: 460px), (max-aspect-ratio: 1/2) {
    input[type="checkbox"]:checked ~ .right-column {
        filter: blur(0.1vh);
    }

    label {
        width: 8.71vw;
        height: 8.71vw;
        left: 1.6%;
    }

    label::before {
        width: 8.71vw;
        height: 8.71vw;
    }

    input[type="checkbox"]:checked ~ label {
        left: 55.4%;
    }

    .left-column {
        width: 59.5%;
        margin-left: -59.5%;
    }

    .header-logo, .user-picture, .completed-tasks {
        margin-left: 6vw;
    }

    .header-logo {
        width: 5vw;
        height: 5vw;
        margin-right: 3vw;
    }

    .header-logo::before {
        width: 5vw;
        height: 5vw;
        background-size: 5vw 5vw;
        background-repeat: no-repeat;
    }

    .header, .user-info {
        height: 9vh;
    }

    .company-name::before {
        font-size: 3.5vw;
    }

    .search {
        width: 4vw;
        height: 4vw;
        margin-right: 4.6vw;
    }

    .search::before {
        width: 3.8vw;
        height: 3.8vw;
        background-size: 3.8vw 3.8vw;
        background-repeat: no-repeat;
    }

    .user-picture {
        width: 9.5vw;
        height: 9.5vw;
    }

    .user-picture::before {
        width: 9.5vw;
        height: 9.5vw;
        background-size: 9.5vw 9.5vw;
        background-repeat: no-repeat;
    }

    .user-name-and-status .user-name::before {
        font-size: 3vw;
        line-height: 3.3vw;
    }

    .user-name-and-status .user-status::before {
        font-size: 2.5vw;
        line-height: 2.7vw;
    }

    .user-menu-button {
        width: 8.5vw;
        height: 8.5vw;
        border-radius: 2.4vw;
    }

    .user-menu-shapes {
        right: 6vw;
        width: 1vw;
        height: 1vw;
        box-shadow: 1.5vw 0 0 0 #A5A5A5, -1.5vw 0 0 0 #A5A5A5
    }

    .task-stats {
        margin-bottom: 1vh;
        height: 6.5vh;
    }

    .completed-tasks, .open-tasks {
        height: 5vh;
    }

    #total-number, #open-number {
        height: 2.8vh;
        font-size: 4.7vw;
        line-height: 5vw;
    }

    .open-tasks {
        margin-left: 4.5vw;
    }

    .completed-tasks .label::before, .open-tasks .label::before {
        font-size: 2.7vw;
        line-height: 2.9vw;
    }

    .aside-menu .menu::before {
        padding-left: 6vw;
        margin-bottom: 1vh;
        font-size: 2.7vw;
        line-height: 4.5vw;
    }

    .aside-menu-home, .aside-menu-tasks, .aside-menu-notifications {
        height: 20vh;
        padding-left: 6vw;
    }

    .aside-menu-notifications span + #notification-counter {
        margin-left: 2vw;
    }

    .aside-menu {
        height: 16vh;
    }

    .aside-menu-home span, .aside-menu-tasks span, .aside-menu-notifications span {
        font-size: 3vw;
        line-height: 3.3vw;
    }

    #notification-counter {
        min-height: 4.2vw;
        min-width: 4.2vw;
        font-size: 3.1vw;
    }

    .top-menu {
        height: auto;
        max-height: max-content;
        min-height: unset;
    }

    .upper-part {
        height: min-content;
        margin: 1.3vh 6vw 2.5vw;
    }

    .logo {
        margin-top: 0.6vh;
        width: 8.8vw;
        height: 8.8vw;
        border-radius: 1.7vw;
    }

    .logo::before {
        width: 8.8vw;
        height: 8.8vw;
        background-size: 8.8vw 8.8vw;
    }

    .project-name {
        width: 60vw;
        height: 10.5vw;
    }

    .project-name span {
        font-size: 7vw;
    }

    .top-menu .menu {
        margin-top: 1vh;
        width: 7vw;
        height: 7vw;
        min-width: 7vw;
        min-height: 7vw;
    }

    .top-menu .menu::before {
        width: 0.9vw;
        height: 0.9vw;
        margin-left: -0.45vw;
        margin-top: -0.45vw;
        box-shadow: 1.35vw 0 0 0 #A5A5A5, -1.35vw 0 0 0 #A5A5A5;
    }

    .pic1, .pic2 {
        margin-right: 1.2vw;
    }

    .pic1::before, .pic2::before, .pic3::before {
        width: 7vw;
        height: 7vw;
        background-size: 7vw 7vw;
    }

    .users + .share, .share + .chat {
        margin-left: 3.1vw;
    }

    .share {
        width: 15vw;
        height: 7vw;
        border-radius: 3.25vw;
    }

    .share::before {
        font-size: 3.1vw;
    }

    .chat {
        width: 17.65vw;
        height: 7vw;
        border-radius: 3.25vw;
    }

    .chat div::before {
        width: 3.5vw;
        height: 3.5vw;
        left: 3.3vw;
        background-size: 3.5vw 3.5vw;
        background-repeat: no-repeat;
    }

    .chat span::before {
        right: 3.1vw;
        font-size: 3.1vw;
    }

    .tabs {
        height: 7vw;
    }

    .tabs li {
        font-size: 3.5vw;
        line-height: 4.5vw;
    }

    #tasks {
        margin-left: 5vw;
    }

    #kanban, #activity, #calendar, #files  {
        margin-left: 7vw;
    }

    #activity {
        border-bottom: 0.435vw #FFC200 solid;
    }

    .tab-content {
        box-sizing: border-box;
        padding: 5vw 5vw;
    }

    .container {
        position: relative;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 1.75vw;
        width: 98%;
        height: 98%;
        padding: 5.62vw 4.54vw;
    }

    .day {
        margin-bottom: 0.65vw;
    }

    .day::before {
        font-size: 3vw;
    }

    .message1, .message2, .message3 {
        margin-top: 6.54vw;
    }

    .message-icon {
        min-width: 8.71vw;
        height: 8.71vw;
        margin-right: 4.355vw;
    }

    .message-content {
        margin-right: 1.4vw;
    }

    .message-time {
        min-width: min-content;
        height: min-content;
    }

    .message1 .message-icon::before, .message2 .message-icon::before, .message3 .message-icon::before {
        width: 2.62vw;
        height: 1.96vw;
        background-size: 2.62vw 1.96vw;
    }

    .message1 .message-text::before, .message2 .message-text::before, .message3 .message-text::before {
        font-size: 3.5vw;
        line-height: 4.5vw;
    }

    .message1 .message-time::before, .message2 .message-time::before, .message3 .message-time::before {
        font-size: 3vw;
        line-height: 4vw;
    }

    .message1 .message-attachment div {
        width: 21.79vw;
        height: 21.79vw;
        margin-right: 2.18vw;
        margin-bottom: 2.18vw;
    }

    .message1 .attachment1::before, .message1 .attachment2::before, .message1 .attachment3::before, .message1 .attachment4::before {
        width: 21.79vw;
        height: 21.79vw;
        border-radius: 1.75vw;
        background-size: 21.79vw 21.79vw;
        background-repeat: no-repeat;
    }

    .message2 .message-attachment {
        border-radius: 2.175vw;
        padding: 4.35vw 4.35vw;
        margin-top: 4.35vw;
    }

    .message2 .message-attachment::before {
        font-size: 3.26vw;
        line-height: 4vw;
    }
    /* ============ response behavior section ends here ============== */
}