@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

li {
    list-style: none;
}

/* ======================= end of reset ======================== */
/* ============================================================= */
/* ================= page styling starts here ================== */

html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    background: #eeebe5;
    position: relative;
    width: 100%;
    height: 100%;
}

#app {
    position: relative;
    width: 100%;
    height: 100%;
}

.left-column {
    position: absolute;
    top: 0;
    left: 0;
    width: 270px;
    height: 100%;
}

#right-column {
    height: 100%;
    margin-left: 270px;
}

#slide-menu-label {
    display: none;
    position: absolute;
    top: 50%;
    left: 100%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFC200;
    z-index: 1;
    -webkit-transition: left 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
    transition: left 0.3s, transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
}

#slide-menu-label::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 40px;
    background: url(../images/chevron-right.svg);
}

#slide-menu-label:hover {
    cursor: pointer;
    box-shadow: 0 0 4px black;
}

#slide-menu-checkbox {
    display: none;
}


#slide-menu-checkbox:checked ~ #slide-menu-label {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    left: 250px;
}

#slide-menu-checkbox:checked ~ .left-column {
    margin-left: 0;
}

#slide-menu-checkbox:checked ~ #right-column {
    -webkit-filter: blur(0.1vw);
    filter: blur(0.1vw);
}

#slide-menu-checkbox:checked ~ #right-column * {
    pointer-events: none;
}

/* ---------- left column ----------- */
.left-column {
    background: #000000;
    color: #FFFFFF;
    -webkit-transition: margin-left 0.3s, width 0.3s;
    transition: margin-left 0.3s, width 0.3s;
}

.header, .user-info, .task-stats, .menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.header-logo, .user-picture, .completed-tasks {
    margin-left: 30px;
}

.header {
    -webkit-box-align: center;
    align-items: center;
    height: 84px;
}

.header-logo {
    display: block;
    min-width: 21.6px;
    height: 18.9px;
    margin-right: 13px;
}

.header-logo::before {
    position: absolute;
    content: "";
    width: 21.6px;
    height: 18.9px;
    background-size: 21.6px 18.9px;
    background: url(../images/Logo@3x.svg);
}

.company-name {
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.search {
    display: block;
    min-width: 16px;
    height: 16px;
    margin-right: 20px;
}

.search::before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    background: url(../images/Search@3x.svg);
}

.user-info {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    height: 80px;
    background: #202020;
    -webkit-box-align: center;
    align-items: center;
}

.user-picture {
    display: block;
    height: 48px;
    width: 48px;
    margin-right: 15px;
}

.user-picture::before {
    position: absolute;
    content: "";
    height: 48px;
    width: 48px;
    border-radius: 50%;
    background: url(../images/user-pic.png);
    background-size: 48px 48px;
}

.user-name-and-status {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    align-content: center;
    width: 100px;
    white-space: normal;
}

.user-name, .user-status {
    display: -webkit-box;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
}

.user-name {
    -webkit-box-align: end;
    align-items: flex-end;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.user-status {
    font-size: 12px;
    line-height: 14px;
    color: #9B9B9B;
}

.user-name + .user-status {
    margin-top: 2px;
}

.user-menu-button {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 8px;
    margin-left: auto;
}

.user-menu-shapes {
    position: absolute;
    width: 4px;
    height: 4px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #A5A5A5;
    border-radius: 50%;
    box-shadow: 6px 0 0 0 #A5A5A5, -6px 0 0 0 #A5A5A5;
}

.task-stats {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 31px;
}

.completed-tasks, .open-tasks {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    border-radius: 8px;
}

.open-tasks {
    margin-left: 19px;
}

.completed-tasks {
    cursor: pointer;
    -webkit-transition: border 0.3s, background-color 0.3s, margin 0.3s, padding 0.3s;
    transition: border 0.3s, background-color 0.3s, margin 0.3s, padding 0.3s;
}

.completed-tasks:hover {
    padding: 3px;
    margin-right: -6px;
    margin-bottom: -12px;
    border-bottom: #ffc200 4px solid;
    background-color: #202020;
}

#completed-number, #open-number {
    height: 27px;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tasks-label {
    height: 17px;
}

.tasks-label span {
    height: 14px;
    font-size: 12px;
    line-height: 14px;
    color: #878787;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.aside-menu {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.aside-menu li:first-child {
    font-size: 12px;
    line-height: 18px;
    color: #878787;
    margin-bottom: 10px;
    padding-left: 30px;
}

.aside-menu-home, .aside-menu-tasks, .aside-menu-notifications {
    height: 38px;
    width: 240px;
    padding-left: 30px;
}

.aside-menu-home, .aside-menu-tasks {
    display: block;
    position: relative;
}

.aside-menu-home span, .aside-menu-tasks span, .aside-menu-notifications span {
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.aside-menu-home span, .aside-menu-tasks span {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.aside-menu-notifications {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.aside-menu-notifications span + #notification-counter {
    margin-left: 10px;
}

#notification-counter {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    min-height: 20px;
    min-width: 19px;
    border-radius: 50%;
    background: #FFC200;
    font-size: 13px;
    color: #131313;
}

/* -------- left column ends here --------------- */

/* ----------right column starts here -------------*/
#right-column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-transition: opacity 0.3s, margin-left 0.3s, -webkit-filter 0.3s;
    transition: opacity 0.3s, margin-left 0.3s, filter 0.3s, -webkit-filter 0.3s;
}

.upper-part {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 83px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: #FFFFFF;
}

.upper-left, .upper-right {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    flex: 1;
}

.upper-left + .upper-right {
    margin-left: 12px;
}

.upper-left, .upper-right {
    margin-top: 35px;
}

.upper-left {
    margin-left: 30px;
}

.upper-right {
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-right: 30px;
}

.logo {
    margin-top: 4.5px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background: #ffc200;
}

.logo::before {
    position: relative;
    display: block;
    content: "";
    width: inherit;
    height: inherit;
    background-image: url(../images/Shapes@2x.png);
    background-size: 40px 40px;
}

.logo + .project-name {
    margin-left: 15px;
}

.project-name {
    position: relative;
    width: 265px;
    height: 43px;
}

.project-name span {
    position: absolute;
    line-height: 38px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 32px;
    color: #131313;
    white-space: nowrap;
}

.project-name + .menu {
    margin-left: 11px;
}

.upper-left .menu {
    position: relative;
    margin-top: 10px;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    background: #EAEAEA;
}

.upper-left .menu::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 4px;
    margin-left: -2px;
    margin-top: -2px;
    background-color: #A5A5A5;
    border-radius: 50%;
    box-shadow: 6px 0 0 0 #A5A5A5, -6px 0 0 0 #A5A5A5;
}

.users {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: 9px;
}

.users-pic:nth-child(-n+2) {
    margin-right: 5px;
}

.users-pic:nth-child(1)::before {
    background: url(../images/face2.png);
}

.users-pic:nth-child(2)::before {
    background: url(../images/face3.png);
}

.users-pic:nth-child(3)::before {
    background: url(../images/face4.png);
}

.users-pic:nth-child(n)::before {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    content: "";
    background-size: 30px 30px;
}

.users + .share, .share + .chat {
    margin-left: 15px;
}

.share, .chat {
    margin-top: 10px;
}

.share {
    position: relative;
    display: block;
    height: 30px;
    width: 67px;
    border-radius: 15px;
    background: #EAEAEA;
    font-size: 14px;
    color: #131313;
    text-align: center;
    line-height: 30px;
}

.chat {
    position: relative;
    height: 30px;
    width: 81px;
    border-radius: 15px;
    background: #FFF8DD;
}

.chat div::before {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    background: url("../images/Combined Shape@1x.svg");
}

.chat span {
    position: absolute;
    top: 50%;
    right: 14px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 14px;
    color: #FFC200;
}

.tabs {
    height: 100%;
}

.tabs input {
    display: none;
}

#tasks-radio:checked ~ .tab-labels #tasks-radio-label,
#activity-radio:checked ~ .tab-labels #activity-radio-label {
    border-bottom: 2px #FFC200 solid;
    padding-bottom: 12px;
}

#tasks-radio:checked ~ .tab-labels #tasks-radio-label span,
#activity-radio:checked ~ .tab-labels #activity-radio-label span {
    opacity: 1;
}

#tasks-radio:checked ~ .tab-content #tasks-container,
#activity-radio:checked ~ .tab-content #activity-container {
    display: -webkit-box;
    display: flex;
}

/*noinspection CssInvalidPropertyValue*/
.tab-labels {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    background: #FFFFFF;
    padding-top: 18px;
    min-height: 35px;
}

.tab-labels label {
    display: block;
    font-size: 16px;
    -webkit-box-align: center;
    align-items: center;
    line-height: 19px;
    padding-bottom: 14px;
    color: #131313;
    border-bottom: none;
    user-select: none;
}

.tab-labels span {
    opacity: 0.7;
}

#tasks-radio-label span:hover, #activity-radio-label span:hover {
    cursor: pointer;
    opacity: 1.0;
}

#tasks-radio-label {
    margin-left: 30px;
}

#kanban-radio-label {
    margin-left: 32px;
}

#activity-radio-label {
    margin-left: 27px;
}

#calendar-radio-label {
    margin-left: 31px;
}

#files-radio-label {
    margin-left: 27px;
}

.tab-content {
    display: -webkit-box;
    display: flex;
    height: 94%;
    width: 100%;
    background: #eeebe5;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
}

.container {
    display: none;
    background: #FFFFFF;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    width: 50.7vw;
    height: 67.4vh;
    border-radius: 8px;
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    box-sizing: border-box;
    padding: 35px 30px;
    overflow-y: auto;
}

.day {
    margin-bottom: 2px;
}

.day::before {
    content: "TODAY";
    opacity: 0.5;
    font-size: 14px;
    color: #131313;
}

.messages {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    align-content: flex-start;
}

.message {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-top: 30px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.message-icon {
    display: block;
    position: relative;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.message-content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin-right: 5px;
}

.message-text {
    display: block;
    position: relative;
    width: 85%;
}

.message-time {
    display: block;
    position: relative;
    min-width: 55px;
    height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.message:nth-child(1) .message-icon {
    background: #E3EFFF;
}

.message:nth-child(2) .message-icon {
    background: #FFF8DD;
}

.message:nth-child(3) .message-icon {
    background: #CEF9C6;
}

.message:nth-child(1) .message-icon::before {
    background: url(../images/toolbarButton-download1.svg);
}

.message:nth-child(2) .message-icon::before {
    background: url(../images/square-speech-bubble-svgrepo-com.svg);
}

.message:nth-child(3) .message-icon::before {
    background: url(../images/Icon@3x.svg);
}

.message:nth-child(n) .message-icon::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-size: 12px 12px;
}

.message-text:nth-child(n) {
    font-size: 16px;
    color: #131313;
    line-height: 20px;
}

.message:nth-child(n) .message-time {
    opacity: 0.7;
    font-size: 14px;
    color: #131313;
    line-height: 20px;
}

.message:nth-child(1) .message-attachments {
    display: -webkit-box;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.message:nth-child(1) .message-attachments div {
    display: block;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #202020;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}

.message:nth-child(1) .message-attachments div:hover {
    box-shadow: 0 0 5px #202020;
    border-bottom: 4px #ffc200 solid;
    margin-bottom: 6px;
}

.message:nth-child(1) .attachment:nth-child(1)::before {
    background: url(../images/attached-pic1.jpg);
}

.message:nth-child(1) .attachment:nth-child(2)::before {
    background: url(../images/attached-pic2.jpg);
}

.message:nth-child(1) .attachment:nth-child(3)::before {
    background: url(../images/attached-pic3.jpg);
}

.message:nth-child(1) .attachment:nth-child(4)::before {
    background: url(../images/attached-pic4.jpg);
}

.message:nth-child(1) .attachment:nth-child(n)::before {
    display: block;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.message:nth-child(2) .message-attachments {
    display: -webkit-box;
    display: flex;
    width: 100%;
    background: #F7F6F3;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 20px;
    margin-top: 20px;
}

.message:nth-child(2) .message-attachments::before {
    font-size: 15px;
    line-height: 18px;
    color: #131313;
    content: "During a project build, it is necessary to evaluate the product design and development against project requirements and outcomes";
}

/* --------- right column ends here --------- */

/* =================== response behavior section starts here =============== */
@media screen and (min-aspect-ratio: 1500/927) {
    .container {
        width: 60vw;
    }
}

/* --------------- */

@media screen and (max-aspect-ratio: 980/927) {
    #slide-menu-label {
        display: block;
        left: 30px;
    }

    .left-column {
        margin-left: -270px;
    }

    #right-column {
        margin-left: 0;
        width: 100%;
    }

    .container {
        width: 80%;
        height: 90%;
    }
}

/* -------------------- */
@media screen and (max-width: 710px), (max-aspect-ratio: 710/927) {
    .upper-part {
        min-height: unset;
        height: 95px;
    }

    .upper-left {
        margin-top: 15px;
    }

    .upper-right {
        margin-top: 0;
        z-index: 1;
    }
}

/* -------------- */

@media screen and (max-aspect-ratio: 1/2), (max-aspect-ratio: 2/3) and (max-width: 415px) {
    #slide-menu-checkbox:checked ~ #right-column {
        -webkit-filter: blur(0.1vh);
        filter: blur(0.1vh);
    }

    #slide-menu-checkbox:checked ~ #slide-menu-label {
        left: 55.4%;
    }

    #slide-menu-label {
        width: 8.71vw;
        height: 8.71vw;
        left: 1.6%;
    }

    #slide-menu-label::before {
        width: 8.71vw;
        height: 8.71vw;
    }

    #slide-menu-label:hover {
        box-shadow: 0 0 1vw black;
    }

    .left-column {
        width: 59.5%;
        margin-left: -59.5%;
    }

    .header-logo, .user-picture, .completed-tasks {
        margin-left: 6vw;
    }

    .header-logo {
        width: 5vw;
        height: 5vw;
        margin-right: 3vw;
    }

    .header-logo::before {
        width: 5vw;
        height: 5vw;
        background-size: 5vw 5vw;
        background-repeat: no-repeat;
    }

    .header, .user-info {
        height: 9vh;
    }

    .company-name {
        font-size: 3.5vw;
    }

    .search {
        width: 4vw;
        height: 4vw;
        margin-right: 4.6vw;
    }

    .search::before {
        width: 3.8vw;
        height: 3.8vw;
        background-size: 3.8vw 3.8vw;
        background-repeat: no-repeat;
    }

    .user-picture {
        width: 9.5vw;
        height: 9.5vw;
    }

    .user-picture::before {
        width: 9.5vw;
        height: 9.5vw;
        background-size: 9.5vw 9.5vw;
        background-repeat: no-repeat;
    }

    .user-name {
        font-size: 3vw;
        line-height: 3.3vw;
    }

    .user-status {
        font-size: 2.5vw;
        line-height: 2.7vw;
    }

    .user-menu-button {
        width: 8.5vw;
        height: 8.5vw;
        border-radius: 2.4vw;

    }

    .user-menu-shapes {
        width: 1vw;
        height: 1vw;
        margin-right: 4.5vw;
        box-shadow: 1.5vw 0 0 0 #A5A5A5, -1.5vw 0 0 0 #A5A5A5
    }

    .task-stats {
        margin-bottom: 1vh;
        height: 6.5vh;
    }

    .completed-tasks, .open-tasks {
        height: 5vh;
        border-radius: 2vw;
    }

    .completed-tasks:hover {
        padding: 1vw;
        margin-right: -2vw;
        margin-bottom: -3vw;
        border-bottom: #ffc200 0.8vw solid;
        background-color: #202020;
    }

    #completed-number, #open-number {
        height: 2.8vh;
        font-size: 4.7vw;
        line-height: 5vw;
    }

    .open-tasks {
        margin-left: 4.5vw;
    }

    .tasks-label span {
        font-size: 2.7vw;
        line-height: 2.9vw;
    }

    .aside-menu li:first-child {
        padding-left: 6vw;
        margin-bottom: 1vh;
        font-size: 2.7vw;
        line-height: 4.5vw;
    }

    .aside-menu-home, .aside-menu-tasks, .aside-menu-notifications {
        height: 20vh;
        padding-left: 6vw;
    }

    .aside-menu-notifications span + #notification-counter {
        margin-left: 2vw;
    }

    .aside-menu {
        height: 16vh;
    }

    .aside-menu-home span, .aside-menu-tasks span, .aside-menu-notifications span {
        font-size: 3vw;
        line-height: 3.3vw;
    }

    #notification-counter {
        min-height: 4.2vw;
        min-width: 4.2vw;
        font-size: 3.1vw;
    }

    /*noinspection CssInvalidPropertyValue*/
    .upper-part {
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
        min-height: unset;
    }

    .upper-left {
        margin-left: 6vw;
        margin-top: 1.3vh;
    }

    .upper-right {
        margin-right: 6vw;
    }

    .logo {
        margin-top: 0.6vh;
        width: 8.8vw;
        height: 8.8vw;
        border-radius: 1.7vw;
    }

    .logo::before {
        width: 8.8vw;
        height: 8.8vw;
        background-size: 8.8vw 8.8vw;
    }

    .project-name {
        width: 60vw;
        height: 10.5vw;
    }

    .project-name span {
        font-size: 7vw;
    }

    .upper-left .menu {
        margin-top: 1vh;
        width: 7vw;
        height: 7vw;
        min-width: 7vw;
        min-height: 7vw;
    }

    .upper-left .menu::before {
        width: 0.9vw;
        height: 0.9vw;
        margin-left: -0.45vw;
        margin-top: -0.45vw;
        box-shadow: 1.35vw 0 0 0 #A5A5A5, -1.35vw 0 0 0 #A5A5A5;
    }

    .users-pic:nth-child(-n+2) {
        margin-right: 1.2vw;
    }

    .users-pic:nth-child(n)::before {
        width: 7vw;
        height: 7vw;
        background-size: 7vw 7vw;
    }

    .users + .share, .share + .chat {
        margin-left: 3.1vw;
    }

    .share {
        width: 15vw;
        height: 7vw;
        border-radius: 3.25vw;
        font-size: 3.1vw;
        line-height: 7vw;
    }

    .chat {
        width: 17.65vw;
        height: 7vw;
        border-radius: 3.25vw;
    }

    .chat div::before {
        width: 3.5vw;
        height: 3.5vw;
        left: 3.3vw;
        background-size: 3.5vw 3.5vw;
        background-repeat: no-repeat;
    }

    .chat span {
        right: 3.1vw;
        font-size: 3.1vw;
    }

    .tab-labels {
        height: min-content;
        min-height: unset;
        padding-top: 2.5vw;
    }


    .tab-labels label {
        height: min-content;
        padding-bottom: 2.5vw;
    }

    .tab-labels span {
        font-size: 3.5vw;
        line-height: 4.5vw;
    }

    #tasks-radio-label {
        margin-left: 5vw;
    }

    #kanban-radio-label, #activity-radio-label, #calendar-radio-label, #files-radio-label {
        margin-left: 7vw;
    }

    #tasks-radio:checked ~ .tab-labels #tasks-radio-label,
    #activity-radio:checked ~ .tab-labels #activity-radio-label {
        opacity: 1;
        border-bottom: 0.435vw #FFC200 solid;
        padding-bottom: 2.065vw;
    }

    .tab-content {
        box-sizing: border-box;
        padding: 5vw 5vw;
        height: 95%;
    }

    .container {
        position: relative;
        left: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        border-radius: 1.75vw;
        width: 98%;
        height: 98%;
        padding: 5.62vw 4.54vw;
    }

    .day {
        margin-bottom: 0.65vw;
    }

    .day::before {
        font-size: 3vw;
    }

    .message {
        margin-top: 6.54vw;
    }

    .message-icon {
        min-width: 8.71vw;
        height: 8.71vw;
        margin-right: 4.355vw;
    }

    .message-content {
        margin-right: 1.4vw;
    }

    /*noinspection CssInvalidPropertyValue*/
    .message-time {
        min-width: -webkit-min-content;
        min-width: -moz-min-content;
        min-width: min-content;
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }

    .message:nth-child(1) .message-icon::before, .message:nth-child(2) .message-icon::before, .message:nth-child(3) .message-icon::before {
        width: 2.62vw;
        height: 1.96vw;
        background-size: 2.62vw 1.96vw;
    }

    .message:nth-child(n) .message-text {
        font-size: 3.5vw;
        line-height: 4.5vw;
    }

    .message:nth-child(n) .message-time {
        font-size: 3vw;
        line-height: 4vw;
    }

    .message:nth-child(1) .message-attachments div {
        width: 21.79vw;
        height: 21.79vw;
        margin-right: 2.18vw;
        margin-bottom: 2.18vw;
        border-radius: 1.757vw;
    }

    .message:nth-child(1) .message-attachments div:hover {
        box-shadow: 0 0 1.75vw #202020;
        border-bottom: 1vw #ffc200 solid;
        margin-bottom: 1.18vw;
    }

    .message:nth-child(1) .attachment:nth-child(n)::before {
        width: 21.79vw;
        height: 21.79vw;
        border-radius: 1.75vw;
        background-size: 21.79vw 21.79vw;
        background-repeat: no-repeat;
    }

    .message:nth-child(2) .message-attachments {
        border-radius: 2.175vw;
        padding: 4.35vw 4.35vw;
        margin-top: 4.35vw;
    }

    .message:nth-child(2) .message-attachments::before {
        font-size: 3.26vw;
        line-height: 4vw;
    }

}
    /* ============ response behavior section ends here ============== */
